@import './base.scss';
body {
  margin: 0;
}
.App {
  background-color: $main-color;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .keys {
    display: flex;
    justify-content: center;
    align-items: center;
    .note {
      padding: 0 2rem;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
